/* General settings */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    
  }
body{
    margin: 0%;
    padding: 0%;
}

/*Header*/

/*part one : top-screen menu */

#header{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    width: 100%;
}

.head{
    display: flex;
    align-items: center;
    padding: 0% 10%;
    
}
.logo{
    margin-right: auto;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding: 0%;
    display: flex;
    gap: 30px;
}

/*part two : website introduction */

.content{
    display: flex;
    padding: 10%;
    
    gap: 6%;
    
}

.main{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.signup{
    border-radius: 5px;
    background-color: #3882F6;
    box-shadow: inset black;
}

/* this .content{} line cause flex:auto; just won't work */

.content-img{
    width: 50%;
}


/*Info*/

#info{
    
    color: #1F2937;
    font-size: 18px;
    width: 100%;
}

.info-title{
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
    padding: 3%;
}

.info-content{
    display: flex;
    gap:5%;
    padding: 0% 10% 10% 10%;
}

.info-text{
    font-size: 14px;
    
}
.info-img{
    padding: 50px;
    border: 3px solid #3882F6;
    border-radius: 20px;

}
/*Quote*/

#quote{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.author{
    font-size: 14px;
    font-weight: bold;
    align-self: flex-end;
}

/*Action*/

#action{
    display: flex;
    margin: 5% 10%;
    padding: 5% 10%;
    background-color: #3882F6;
    border-radius: 10px;
    gap: 20%;
    color: #E5E7EB;
    font-size: 12px;
}

.call{
    font-weight: bold;
    font-size: 16px;
}

.signdown{
    border-radius: 5px;
    background-color: #3882F6;
    box-shadow: inset black;
    color: #E5E7EB;
    border: #E5E7EB solid 2px;
    min-width: fit-content;
    padding: 0% 10%;

}
/*Footer*/

#footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    width: 100%;
    padding: 3% 10% ;
    text-align: center;
}

